[Unit]
Description=Dynamic bar toggle based on Hyprland events
After=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 7
ExecStart=/home/finn/.config/hypr/scripts/statusbar.sh
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
