[Unit]
Description=Set hyprpaper wallpaper after login
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/finn/.config/hypr/scripts/wallpaper.sh

[Install]
WantedBy=graphical-session.target
