[Unit]
Description=Set wallpaper with hyprpaper after login
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/finn/.config/hypr/scripts/wallpaper.sh
RemainAfterExit=yes
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=graphical-session.target
