window {
  font-family: "Minecraft";
  font-size: 12pt;
  color: #cdd6f4;
  background-color: rgba(30, 30, 46, 0.95);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: rgba(12, 12, 12, 0.3);
  border-color: #313244;
  margin: 6px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: rgba(49, 50, 68, 0.1);
  border-color: #89b4fa;
}

button:focus {
  background-color: rgba(137, 180, 250, 0.2);
  border-color: #89b4fa;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}
