@import "./colors.scss";

.mainframe-widget {
  margin: 16px;
  padding: 8px 12px;
}

.mainframe-label {
  font-size: 12px;
}

.mainframe-value {
  min-width: 92px;
  background: linear-gradient(0, $color4, $background);
  border: 3px solid $color4;
  padding: 6px;
}
