# Ignore everything by default
*

# Whitelist what you want
!.gitignore
!README.md

# Whitelist host directories
!afterlife/
!afterlife/**

!kabuki/
!kabuki/**

!shared/
!shared/**

!scripts/
!scripts/**
