# Ignore
/*

# Allow specific files
!/.gitignore
!/.zshrc

# Allow config files
!/.config/

# Ignore everything in config
/.config/*

# Except these
!.config/rmshit.py
!.config/rmshit.yaml

!.config/alacritty
!.config/eww
!.config/fastfetch
!.config/flameshot
!.config/wal
!.config/hypr
!.config/waybar
!.config/rofi
!.config/kitty
