# Ignore everything by default
*

# Whitelist what you want
!.gitignore
!README.md

# Whitelist host directories
!config/
!config/**

!icons/
!icons/**

# This is currently annoying
config/scripts/wallpaper

!scripts/
!scripts/**
