@import "./colors.scss";

.delimiter,
.workspace {
  margin: 0;
  padding: 0;
  min-width: 0;
}

.mainframe-spacer {
  min-width: 0;
}

.mainframe-box {
  min-width: 0;
}

.mainframe-label {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.mainframe-value {
  min-width: 92px;
  background: linear-gradient(0, $color4, $background);
  border: 3px solid $color4;
  padding: 6px;
}
