[Unit]
Description=Dynamic bar toggle based on Hyprland events
After=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=/home/finn/.config/hypr/scripts/statusbar.sh
Restart=always
RestartSec=1
Environment=XDG_RUNTIME_DIR=%t

[Install]
WantedBy=default.target
