/* Colors imported from theme file */
@import "static-colors.css";

* {
  font-family: "Minecraft";
  font-size: 13pt;
}

window#waybar {
  color: @fg;
  border-radius: 8px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: transparent;
}

window#waybar.empty #window {
  background: transparent;
  border: none;
}

#system {
  background: @bg;
  border-radius: 8px;
  border: 2px solid @inactive;
}

#workspaces {
  background: @bg;
  border: 2px solid @inactive;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button {
  min-width: 14px;
  padding: 0 8px;
  color: @inactive;
  transition: color 0.3s ease;
}

#workspaces button.active {
  color: @lime;
}

#workspaces button:hover {
  color: @fg-darker;
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
}

#window {
  background-color: @bg;
  color: @fg;
  border: 2px solid @inactive;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

#tray {
  padding-right: 12px;
}

#network {
  padding-left: 12px;
  font-size: 16pt;
  padding-right: 24px;
  color: @cyan;
}

#custom-updater,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#battery {
  font-size: 16px;
  padding-right: 8px;
  padding-left: 8px;
}

#network {
  color: @cyan;
}

#bluetooth {
  color: @blue;
}

#backlight {
  color: @cyan;
}

#pulseaudio {
  color: @yellow;
}

#battery {
  color: @green;
}

#clock {
  background: @bg;
  border: 2px solid @inactive;
  border-radius: 8px;
  padding-right: 12px;
  padding-left: 12px;
}

#custom-updater {
  background: @bg;
  border: 2px solid @inactive;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 4px;
}

#custom-updater.updated {
  color: @blue;
}

#custom-updater.pending {
  color: #9d8888;
}

#custom-power {
  background-color: @red;
  padding-right: 14px;
  padding-left: 12px;
  font-size: 22px;
  border-radius: 8px;
  color: @fg;
}

/* Styling the main tooltip box under the custom updater */
tooltip {
  background: @bg; /* Match your background */
  border-radius: 8px;
  border: 0.5px solid @inactive;
}

/* Adjusting the text inside the tooltip under the custom updater */
tooltip label {
  font-size: 12px; /* Make text smaller */
  color: @fg;
  padding: 2px 6px; /* Shrink the box by reducing internal space */
  margin: 0px; /* Remove extra outer spacing */
}
